<center>
	<h1>2013-2015: trumaker</h1>
<br>
<br>
<br>
<p>- 2nd member of CX team</p>
<p>- 13th team member overall</p>
<br>
<br>
<br>
<br>
<nav>
  <ul class="pager">
  	<li><%= link_to "Fit Confirmation Project", "/about/southeastasia" %></li>
  	<br><br>
  	<li><%= link_to "Onboarding Flow", "/fit" %></li>
  	<br><br>
  	<li><%= link_to "Customer Experience Guidebook", "/fit" %></li>
  </ul>
</nav>
<br>
<br>
<br>

		<img src="http://foolsy.com/wp-content/uploads/2014/10/desk-com-logo.png" alt="desk" style="width:123px;height:50px"> 
		<img src="https://consumer.hs.llnwd.net/files/logos/ringcentral_logo_2767.jpg" alt="ringcentral" style="width:122px;height:50px"> 
		<img src="https://www.olark.com/img/common/layout/logo.svg" alt="olark" style="width:78px;height:50px">
	<p></p>


</center>
<br>
<br>
<br>


<nav>
  <ul class="pager">
  	<li><%= link_to "Southeast Asia", "/about/southeastasia" %></li>
  	<li><%= link_to "Fit", "/fit" %></li>
  </ul>
</nav>